.soc-icon {
    padding: 6px;
    font-size: 17px;
    width: 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
  }
  
  .soc-icon:hover {
      opacity: 0.7;
  }
  
  .soc-icon-soc-iconcebook {
    background: #3B5998;
    color: white;
  }
  
  .soc-icon-twitter {
    background: #55ACEE;
    color: white;
  }

  .soc-icon-google {
    background: #dd4b39;
    color: white;
  }

  .soc-icon-envelope {
    background: #dd4b39;
    color: white;
  }
  
  .soc-icon-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .soc-icon-youtube {
    background: #bb0000;
    color: white;
  }
  
  .soc-icon-instagram {
    background: #125688;
    color: white;
  }
  
  .soc-icon-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .soc-icon-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  .soc-icon-skype {
    background: #00aff0;
    color: white;
  }
  
  .soc-icon-android {
    background: #a4c639;
    color: white;
  }
  
  .soc-icon-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .soc-icon-vimeo {
    background: #45bbff;
    color: white;
  }
  
  .soc-icon-tumblr {
    background: #2c4762;
    color: white;
  }
  
  .soc-icon-vine {
    background: #00b489;
    color: white;
  }
  
  .soc-icon-foursquare {
    background: #45bbff;
    color: white;
  }
  
  .soc-icon-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .soc-icon-flickr {
    background: #f40083;
    color: white;
  }
  
  .soc-icon-yahoo {
    background: #430297;
    color: white;
  }
  
  .soc-icon-soundcloud {
    background: #ff5500;
    color: white;
  }
  
  .soc-icon-reddit {
    background: #ff5700;
    color: white;
  }
  
  .soc-icon-rss {
    background: #ff6600;
    color: white;
  }

  .soc-icon-github {
    background: #000000;
    color: white;
  }