/* Colors 
 * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
 */

 @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
 @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
 
$red:      #ac4142;
$orange:   #d28445;
$yellow:   #f4bf75;
$green:    #90a959;
$cyan:     #75b5aa;
$blue:     #6a9fb5;
$magenta:  #aa759f;
$brown:    #8f5536;
$default:  #505050;

$white:      #fff;
$lightgrey:  #eee;
$black:      #000;

$yahoo:    #7b0099;

$theme-color: $yahoo;
$theme-color-dark: darken($theme-color, 10%);

$post-date-color: #9a9a9a;
$title-color: #313131;
$masthead-title-small-color: #c0c0c0;

/* Layout */
$reverse-layout: false;
$overlay-sidebar: true;

/* Font stack */
/* original fonts blocked */
/*
$font-serif: "PT Serif", Georgia, "Times New Roman", serif;
$font-sans: "PT Sans", Helvetica, Arial, sans-serif;
$font-font-awesome: FontAwesome;
*/

$font-serif: -apple-system, BlinkMacSystemFont, "PT Serif", "Noto Sans KR",  "Segoe UI",
"Helvetica Neue", "Lucida Grande", Arial;
$font-sans: -apple-system, BlinkMacSystemFont, "Roboto", "Noto Sans KR",  "Segoe UI",
"Helvetica Neue", "Lucida Grande", Arial;
$font-font-awesome: FontAwesome;
